.spectacles {
  background-color: black;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  padding-top: 60px;
  position: relative;

  &__card {
    padding-left: 30px;
  }

  &__page-name {
    color: #ff5001;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    padding: 60px 0 0 30px;
  }

  &__title {
    color: #ff5001;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    padding: 20px 0 40px 30px;
  }

  &__img {
    height: 200px;
  }

  &__flex {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 250px;
  }
}
.actor__container__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
