.spectacles {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding-top: 90px;
  position: relative;

  &__card {
    padding-left: 30px;
  }

  &__page-name {
    color: #ff5001;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    padding: 60px 0 20px 30px;
  }

  &__title {
    color: #ff5001;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    padding: 20px 0 40px 30px;
  }

  &__card-title {
    font-weight: 600;
  }

  &__img {
    height: 200px;
    width: 350px;
    object-fit: cover;
  }
  &__img-text {
    position: absolute;
    top: 90px;
    right: 0;
  }

  &__flex {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 250px;
    gap: 30px;
  }
}
.actor__container__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
