.footer {
  background-color: black;
  padding-bottom: 30px;
  color: white;

  &__container {
    border: 1px solid white;
  }

  &__img {
    height: 100px;
  }

  &__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 170px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }
}
