.contacts {
  background-color: black;
  position: relative;
  min-height: 100vh;
  &__items {
    display: flex;
    & > a {
      padding-left: 10px;
    }
  }
  &__flex {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    padding-bottom: 50px;
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
  }
  &__way-text {
    display: flex;
    align-items: center;
  }
  &__map {
    padding-bottom: 250px;
  }
}
