.contacts {
    background-color: black;
    height: 100%;
    &__items {
        display: flex; 
        & > a {
            padding-left: 10px;
        } 
    }
    &__flex {
        padding: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        color: aliceblue;
    }
    &__way {
        justify-content: right;
    }
}

