.kymkyat {
  padding-bottom: 100px;
  background-color: black;
  color: white;

  &__block {
    position: relative;
  }

  &__img-text {
    width: 78%;
    height: 180px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__title {
    color: #ff5001;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    padding: 90px 0 40px 30px;
  }

  &__img {
    height: 300px;
    padding-left: 30px;
  }

  &__flex {
    display: flex;
    align-items: center;
  }

  &__info {
    padding-left: 30px;

    &-btn {
      background: black;
      //   border-radius: 10px;
      padding: 10px;
      margin-top: 10px;
      color: white;
      width: 100px;
      border: 1px solid white;

      &:hover {
        border: 1px solid #ff5001;
        color: #ff5001;
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}
